<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Cdn Normalize -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/
        modern-normalize/1.0.0/modern-normalize.min.css">
        <!-- Link CSS -->
        <link rel="stylesheet" href="./main.css">
        <!-- LInk font google -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <title>Document</title>
    </head>
        <body>

            <div id="app">

                <div class="boolean-logo">
                    <img src="https://www.boolean.careers/images/misc/logo.png" alt="">
                </div>
                <div id="info-wrapper">
                    <input class="typeIn" type="text" value="" >
                    <button @click="add">Add</button>
                </div>
                <h3>To do List</h3>
                <div id="newTasks"  v-for="(input, index) in inputs">
                    <input type="text" v-model="input.value" :key="index">
                </div>










            </div>
            

























            <!-- Script Vuejs -->
            <script src=https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js></script>
            <!-- Script Js -->
            <script src="./main.js"></script>
        </body>
</html>