<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Cdn Normalize -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize-opentype.css/0.2.3/normalize-opentype.css">
        <!-- Link CSS -->
        <link rel="stylesheet" href="./main.css">
        <!-- LInk font google -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <!-- Link font awsome -->
        <script src=https://kit.fontawesome.com/fc3e9057b4.js crossorigin=anonymous></script>
        <title>Document</title>
    </head>
        <body>

            <div id="app">
                <!-- Logo Boolean -->
                <div class="boolean-logo">
                    <img src="https://www.boolean.careers/images/misc/logo.png" alt="">
                </div>
                <!-- Task & Button -->
                <div id="info-wrapper">
                    <input class="typeIn" type="text" @keyup.enter="add"  value="">
                    <button @click="add" >Add</button>
                    <div id="toDoList">
                        <h3>Todo List</h3>
                        <i class="fas fa-trash trash-bin" @click="removeAll"></i>
                    </div>
                </div>
                <!-- Se non ci sono Tasks comparirà questo messaggio -->
                <div v-if="show">
                    <div class="noTasksInput">  Seriously ?! </div>
                </div>
                <!-- Le nuove Tasks verranno inserite dinamicamente qui sotto -->
                <div v-else id="taskWrapper">
                    <div id="newTasks" v-for="(input, index) in inputs" >
                        <input id="modifier" class="tasksInput" type="text" v-model="input.value" :key="index" disabled="disabled">
                        <i class="fas fa-check checked" @click="taskCompleted(index)"></i>
                        <i class="fas fa-times-circle circleRemove" @click="remove(index)"></i>
                        <i class="fas fa-pencil-alt modify" @click="modify(index)"></i>
                </div>

                </div>                
                
                
            </div>
            

























            <!-- Script Vuejs -->
            <script src=https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js></script>
            <!-- Script Js -->
            <script src="./main.js"></script>
        </body>
</html>