body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    font-family: 'Montserrat', sans-serif;
}


#app {
    display: flex;
    flex-flow: column;
}

#app h3 {
    text-align: left;
    padding: 0 5px;
    font-size: 25px;
    color: #001533;
}

.noTasksInput {
    padding-left: 5px;
    color: #001533;
}

img {
    margin: 20px;
    height: 50px;
}

#info-wrapper {
    text-align: center;
}


#info-wrapper button {
    border-style: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #22e166;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

#info-wrapper button:focus {
    outline: none;
    color: #001533;
}

#taskWrapper {
    background-color: lightgray;
    border-radius: 10px;
}

#newTasks {
    width: 200px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin: 5px;
}

i.circleRemove {
    width: 20%;
    text-align: right;
    cursor: pointer;
}

i.modify {
    cursor: pointer;
}

i.checked {
    cursor: pointer;
}

.completed {
    background-color: darkgray;
    text-decoration: line-through;
    transition: all 0.5s ease;
}

#newTasks input {
    width: 80%;
    border-style: none;
    background-color: transparent;
    color: black;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;

}


#info-wrapper>input {
    border: white;
    border-radius: 10px;
    padding: 10px;
}

#info-wrapper>input:focus {
    outline: none;
    border: 2px solid #22e166;
    background-color: #001533;
    color: white;
}